
:host {
  ion-content{
      --background: linear-gradient(var(--ion-color-medium-contrast), var(--ion-color-light-tint));
  }

  ion-list {
      &.list-md {
          padding: 0;
      }
  }
}

ion-toolbar.user-profile {   
    .user-avatar {
      width: 75px;
      height: 75px;
      margin-left: -10px;
      margin-right: 5px;
      margin-top: 10px;
      display: block;  
    }
}

ion-menu {
    ion-header {
      ion-toolbar{
        &.ion-color-dark {
          --ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary)) !important;
       }
       ion-item{ 
        --background: rgba(0,0,0,0);
      }
      ion-menu-toggle, a ,ion-text{
        --background: rgba(25,25,199);
      }
     }
   }
}

.text08 {
  font-size: .8rem;
}

.mtoo {
  margin-top: 12px;
  
  ion-icon {
    margin-bottom: -2px;
  }
}