<ion-content>
    <p *ngIf="dataReturned">{{dataReturned}}</p>
    <ion-list>
        hola: {{ qr }}
        <ion-item-sliding *ngFor="let evento of eventos">
            <ion-card>
                <img src="{{ evento.image }}" routerLink="/modal-image/{{ evento.id }}">
                <ion-toolbar>
                    <ion-buttons slot="primary">
                        <ion-button color="secondary" routerLink="/event-details/{{ evento.id }}">
                            <ion-icon slot="icon-only" name="eye"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-title>{{ evento.name }}</ion-title>
                </ion-toolbar>
                <ion-card-content>
                    Miercoles 24 de Mayo del 2019
                    <!--{{ evento.eventDate }}-->
                </ion-card-content>
            </ion-card>
        </ion-item-sliding>
    </ion-list>

    <ion-button (click)="scan()" expand="full">Scanner</ion-button>
</ion-content>