<ion-header>
    <ion-toolbar text-center>
        <ion-title>{{modalTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-toolbar>
        <ion-buttons>
            <ion-button>
                <ion-back-button defaultHref="/"> </ion-back-button>
            </ion-button>
            <ion-title>{{ image.event.name }}</ion-title>
        </ion-buttons>
    </ion-toolbar>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <img src="{{ image.event.image }}">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-button routerLink="/events">Close Modal</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>