<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Formulario</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="myForm" (ngSubmit)="createUser()">
        <ion-list>
            <ion-item>
              <ion-icon name="person" item-start></ion-icon>
              <ion-label stacked>Nombres Completo</ion-label>
              <ion-input formControlName="name" type="text" placeholder="Nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="mail" item-start></ion-icon>
              <ion-label stacked>Correo electronico:</ion-label>
              <ion-input required="required" formControlName="email" type="email" placeholder="Email"></ion-input>
            </ion-item>
            
              <ion-item>
                <ion-icon name="eye" item-start></ion-icon>
                <ion-label stacked>Contraseña:</ion-label>
                <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
              </ion-item>
            
          </ion-list>
      <div padding>
          <button ion-button block type="submit" >Guardar</button>
        </div>
    </form>
  </ion-content>